.contentHead {
    display: flex;
    align-items: center;
    padding: 0 0 0 0.5%;
    margin-bottom: 15px;
}

.contentHead .contentHead-text {
    font-size: 35px;
    font-weight: 500;
    line-height: 35px;
}

.contentHead .contentHead-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.contentHead .contentHead-btn:hover {
    background-color: #3d247e;
}

.contentHead-btn img {
    margin-right: 5px;
}