.contentHead {
    display: flex;
    align-items: center;
    padding: 0 0 0 0.1%;
    margin-bottom: 18px;
}

.contentHead .contentHead-text {
    font-size: 25px;
    line-height: 35px;
}

.contentHead .contentHead-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 52px;

    transition: background-color 0.3s;
}

.contentHead .contentHead-btn:hover {
    background-color: #3d247e !important;
}

.contentHead-btn img {
    margin-right: 5px;
}