.perfomanceItem {
    position: relative;
    max-width: 1500px;
    display: flex;
    flex-flow: column nowrap;
    padding: 17px 2.76% 2.35% 21px;
    background-color: #17212b;
    border-radius: 10px;
    margin-bottom: 18px;
}

.perfomanceItem .perfomanceItem-head {
    text-align: left;
    font-size: 18px;
    line-height: 18px;
}

.perfomanceItem .perfomanceItem-body {
    text-align: left;
    margin: 18px 0 0 0;
    font-weight: 300;
    line-height: 20px;
}

.perfomanceItem .perfomanceItem-footer {
    margin-top: 25px;
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.perfomanceItem .perfomanceItem-footer:hover {
    background-color: #6db51f !important; 
}

.perfomanceItem .closeLogo, .perfomanceItem .editLogo {
    position: absolute;
    top: 13px;
}

.perfomanceItem .closeLogo {
    right: 20px;
}

.perfomanceItem .editLogo {
    right: 53px;
}

.perfomanceItem-footer img {
    margin-left: 12px;
}